<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="og:title" content="Vanilla App" />
  <meta name="description" content="Land page of VN project!">
  <meta property="og:image" content="../public/favicon.ico" />

  <link rel="stylesheet" href="./src/assets/styles/index/index.css">

  <link rel="icon" href="./public/VN.svg">

  <title>Van-App</title>
</head>
<body>
  <noscript>You need to enable JavaScript to see full app.</noscript>
  <!-- global script -->
  <script defer src="./src/scripts/main.js"></script>

  <main>
    <nav>
      <div class="content">
        <div class="logo">
          <img src="./public/VN.svg" alt="VN">
        </div>

        <ul>
          <li><a href="https://github.com/lonely43/vanilla-app">Docs</a></li>
          <li><a href="https://github.com/lonely43">Author</a></li>
        </ul>
      </div>
    </nav>

    <div class="hero">
      <div class="content">
        <div class="text">
          <h1>Vanilla App</h1>
          <p>Mini framework for HTML/SCSS/JS projects</p>
        </div>
  
        <div class="code-template">
          <div class="code-section">
            <div class="title">
              <h5>shell &lt;\&gt;</h5>
            </div>
            <code>
              <ul>
                <li>
                  C:\> <cmd>vn create</cmd> my-project
                </li>
                <li>
                  <logo>Van-App 1.0.0</logo>
                </li>
                <li>
                  <bold>
                    <p>
                      <underLine>C:\my-project</underLine> <bold><green>- successful created</green></bold>
                    </p> <br>
                    <p>
                      Next steps:
                    </p>
                    <p>
                      > cd my-project
                    </p>
                    <p>
                      > vn dev &lt;port?&gt;
                    </p> <br>
                  </bold>
                </li>
                <li>
                  C:\> <cmd>cd</cmd> my-project
                </li>
                <li>
                  C:\my-project> <cmd>vn</cmd> dev
                </li>
                <li>
                  <logo>Van-App 0.0.1</logo>
                </li>
                <li>
                  Mapping /src to "D:\IT\vanillaApp\vnPage\test\my-project\node_modules"
                </li>
                <li>
                  <sass>SASS</sass> Sass is watching for changes. Press Ctrl-C to stop. <br> <br>
                </li>
                <li>
                  <green>Serving ".../my-project" at http://127.0.0.1:3000</green>
                </li>
                <li>
                  <span class="user-input"></span>
                </li>
              </ul>
            </code>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- project's script -->
  <script src="./src/scripts/index/index.js"></script>
</body>
</html>